<section name="logIn" id="logIn" class="LogIn">
    <img src="Imges/Logo.png"><br>
    <input id="e-mailLogIn" type="email" autofocus placeholder="E-mail"><br>
    <a id="messageEmail" class="message"></a>
    <input id="passwordLogIn" type="password" autofocus placeholder="Password"><br>
    <button data-next="loginEmail" dataFirst="e-mailLogIn" dataSecond="passwordLogIn" class="buttonRegister special" id="buttonLogin">Ingresar</button>
    <button data-next="google" class="js" id="loginGoogle" >Inicia con Google</button><br>
    <button data-next="facebook" class="facebook" id="loginFacebook" >Inicia con Facebook</button><br>
    <button id="linkSignUp" class="links">No tienes una cuenta? <br> Registrate¡</button>
    <!-- <div id="heart" class="heart"></div>
    <div id="hearti"></div> -->
</section>