<section name="logIn" id="logIn" class="LogIn">

<div class="login-card">
     <h1>Log-in</h1><br>
    <!-- <img src="Imges/Logo.png"><br> -->
    <input id="e-mailLogIn" type="email" autofocus placeholder="E-mail"><br>
    <a id="messageEmail" class="message"></a>
    <input id="passwordLogIn" type="password" autofocus placeholder="Password"><br>

        <button data-next="loginEmail" dataFirst="e-mailLogIn" dataSecond="passwordLogIn" class="buttonRegister special btn" id="buttonLogin">Ingresar</button><br>
        <button data-next="google" class="js btn" id="loginGoogle" >Inicia con Google</button><br>
        <button  data-next="facebook" class="facebook btn " id="loginFacebook" >Inicia con Facebook</button><br>
</div>

    <div class="login-help">
    <button  id="linkSignUp" class="links"> ¿No tienes una cuenta? <br> <i>Registrate</i>  </button>
   </div>
    <!-- <div id="heart" class="heart"></div>
    <div id="hearti"></div> -->
</section>