<section name="logIn" id="logIn" class="form-group logIn">
<img src="Imges/Logo.png"><br>
<div class="login-card">
<input id="e-mailLogIn" type="email" autofocus placeholder="E-mail"><br>
<a id="messageEmail" class="message"></a>
<input id="passwordLogIn" type="password" autofocus placeholder="Password"><br>
<button data-next="loginEmail" dataFirst="e-mailLogIn" dataSecond="passwordLogIn" class="buttonRegister js login login-submit" id="buttonLogin" <a href="#timeLine"></a>Ingresar</button>
<button  id="linkSignUp" class="js login login-submit" data-next="google"  > Inicia con Google <a href="#timeLine"></a> </button><br>
<button data-next="" class="js login login-submit" id="loginFacebook"> Inicia con Facebook</button><br>
<button data-next="" class="links js login login-submit" id="linkSignUp">No tienes una cuenta? <br> Registrate¡</button><br>

<!-- <div id="heart" class="heart"></div>
<div id="hearti"></div> -->
</div>
</section>



