<section name="signUp" id="signUp" class="signUp">
<div class="login-card">
    <input  id="nameSignUp" type="text" autofocus placeholder="First name"><br>
    <input id="lastNameSignUp" type="text" autofocus placeholder="Last name"><br>
    <input id="e-mailSignUp" type="email" autofocus placeholder="E-mail"><br>
    <a id="messageEmailSU" class="message"></a>
    <input id="passwortSignUp" type="password" autofocus placeholder="Passwrod"><br>
    <button data-next="signUp" class="btn" dataEmail="e-mailSignUp" dataPass="passwortSignUp" dataName="nameSignUp" dataLast="lastNameSignUp" class="buttonRegister js" id="buttonSignUp">Registrarme</button><br>
    <div id="root"></div>
    <button id="linkLogIn" class="links btn">Ya tienes una cuenta?</button>
</div>
</section>
