<section name = "timeLine">
    <section>
        <button data-next="showProfile" class="navbar-item js" id="btnProfile">Perfil</button>
        <button class="navbar-item">Categorias</button>
        <button data-next="logOut" class="navbar-item js" id="buttonLogOut">Cerrar sesión</button>
    </section>
    <button onclick="showModal()" id="createPost" class="">Crear una publicación</button>
        <section id="modal" class="modal">
            <input type="text" id="post">
            <button onclick="savePost()" id="toPost">Publicar</button>
        </section>
    <section id="postSection"></section>
</section> 