*{
  background-color: #FCFDF7;
}

/* .hide{
    display: none;
} */

/* .message{
    display: none;
} */

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }

.LogIn{
  /* box-align: center; */
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 200px;
  margin-bottom: 400px;
  /* background-color:#FCFDF7; */
  border: 3px;
}
img{
position: center;
mix-blend-mode: darken;
}
  
.modal{
  position: fixed; 
  width: 350px; 
  height: 190px;
  top: 0; 
  left: 0; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: normal; 
  border: #333333 3px solid; 
  background-color: #FAFAFA; 
  color: #000000;
  display:none;
}

